* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  background-color: #0f2c3e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #ffffff;
}

.login-container {
  display: flex;
  width: 100%;
  max-width: 900px;
  background-color: #0f2c3e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.login-box {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.logo-section {
  flex: 1;
  background-color: #0f2c3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: #ffffff;
}

.logo-section img {
  width: 400px;
  margin-bottom: 10px;
}

.form-section {
  flex: 1;
  background-color: #ffffff;
  color: #0f2c3e;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-section h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.form-section p {
  margin-bottom: 20px;
}

.form-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-section input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form-section button {
  background-color: #91f7fb;
  color: black;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.form-section .forgot-password {
  text-align: center;
  margin-top: 15px;
  color: #888;
  text-decoration: none;
}

.form-section .forgot-password:hover {
  color: #60faff;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }

  .logo-section,
  .form-section {
    padding: 20px;
  }
  .logo-section img {
    width: 80px;
    height: 80px;
  }
}
